<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RevitAddinManager.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RevitAddinManager.Properties.App>
            <setting name="AppWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="AppHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ThemName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="AppLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppTop" serializeAs="String">
                <value>0</value>
            </setting>
        </RevitAddinManager.Properties.App>
    </userSettings>
</configuration>