<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- Variables to be replaced by CLI -->
    <?define AssemblyName = "$(var.AssemblyName)" ?>
    <?define Version = "$(var.Version)" ?>
    <?define Author = "$(var.Author)" ?>
    <?define Description = "$(var.Description)" ?>
    <?define RevitYear = "$(var.RevitYear)" ?>
    <?define DllPath = "$(var.DllPath)" ?>
    <?define AddinPath = "$(var.AddinPath)" ?>
    <?define IconPath = "$(var.IconPath)" ?>

    <Product Id="*" Name="$(var.AssemblyName)" Language="1033" Version="$(var.Version)" Manufacturer="$(var.Author)" UpgradeCode="$(var.UpgradeCode)">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="$(var.AssemblyName)" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>

        <Icon Id="ProductIcon" SourceFile="$(var.IconPath)" />
        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="AppDataFolder">
                <Directory Id="AutodeskDir" Name="Autodesk">
                    <Directory Id="RevitDir" Name="Revit">
                        <Directory Id="AddinsDir" Name="Addins">
                            <Directory Id="INSTALLFOLDER" Name="$(var.RevitYear)" />
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="MainDll" Guid="*">
                <File Source="$(var.DllPath)" KeyPath="yes" />
            </Component>
            <Component Id="AddinManifest" Guid="*">
                <File Source="$(var.AddinPath)" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
